@media (max-width: 1720px) {
  body.body {
    max-width: 1720px;
  }

  div.linear-1,
  div.linear-2 {
    width: 1720px;
  }

  a.nav__link {
    padding: 20px;
  }

  .nav__item:first-child .nav__link {
    padding-top: 15px;
  }

  .nav__item:last-child .nav__link {
    padding-bottom: 15px;
  }

  .enter .container {
    z-index: 5;
  }

  .section-one div.col-after,
  .section-three div.col-after {
    padding-left: 2rem;
    max-width: 40%;
  }

  .section-two .section__sub {
    max-width: 80%;
  }
}

@media (max-width: 1520px) {
  body.body {
    max-width: 1520px;
  }

  div.linear-1,
  div.linear-2 {
    width: 1520px;
  }
}

@media (min-width: 1290px) and (max-width: 1440px) {
  body.body {
    max-width: 1440px;
  }

  div.linear-1,
  div.linear-2 {
    width: 1440px;
  }
}

@media (max-width: 1280px) {
  body.body,
  main.main,
  footer.footer {
    max-width: 1280px;
  }

  div.linear-1,
  div.linear-2 {
    width: 1280px;
  }
}

@media (max-width: 1200px) {
  body.body,
    main.main,
    footer.footer {
      max-width: 1200px;
    }

  div.linear-1,
  div.linear-2 {
    width: 1200px;
  }

    div.enter-aside {
      top: 175px;
    }

    nav.nav {
      top: 650px;
    }
}

@media (max-width: 1024px) {
  body.body,
  main.main,
  footer.footer {
    max-width: 1024px;
  }

  div.linear-1,
  div.linear-2 {
    width: 1024px;
  }

  header.header .container {
    padding: 0;
  }

  div.enter-aside {
    left: 15px;
  }

  nav.nav {
    top: 175px;
    right: 60px;
  }

  p.start-sub,
  h3.section__title-sub {
    font-size: 38px;
    line-height: 100%;
  }
}

@media (max-width: 992px) {
  body.body,
  main.main,
  footer.footer {
    max-width: 992px;
  }

  div.linear-1,
  div.linear-2 {
    width: 992px;
  }

  .col-list.col-3:first-of-type {
    margin-right: 10rem;
  }

  .footer div.row {
    flex-direction: column;
  }

  div.footer__lists {
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  body.body {
    max-width: 768px;
    background-image: url('assets/images/media/768-HG.png'), url('assets/images/media/768-MG.png'), url('assets/images/media/768-VG.png') !important;
    background-position: top 0 center, top 20rem center, top 37.6rem center !important;
  }
  
  main.main,
  footer.footer {
    max-width: 768px;
  }

  div.linear-1,
  div.linear-2 {
    width: 768px;
  }

  div.linear-1 {
    height: 35rem;
  }
  
  div.linear-2 {
    top: 37rem;
    height: 22rem;
  }

  header.header {
    margin-bottom: 7rem;
  }

  div.enter-content {
    width: 70%;
    transform: translateX(5%);
  }

  section.enter {
    margin-bottom: 0rem;
  }

  p.section__sub,
  p.footer__descr {
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
  }

  h3.footer__title,
  a.footer__link {
    font-size: 15px;
    line-height: 100%;
  }

  .col-list.col-3:first-of-type {
    margin-right: 4rem;
  }
}

@media (max-width: 712px) {
  body.body,
  main.main,
  footer.footer {
    max-width: 712px;
  }

  div.linear-1,
  div.linear-2 {
    width: 712px;
  }

  .header .container {
    max-width: 100%;
    min-height: 100px;
  }

  .header__picture {
    width: 108px;
  }

  div.header__menu {
    position: absolute;
    top: 50px;
    left: 135px;
    width: fit-content;
  }

  div.col-img {
    align-self: flex-end;
  }

  .enter div.container {
    min-height: 30rem;
  }

  div.enter-content {
    max-width: 500px;
  }

  .section-one .col-5.col-after::after, .section-three .col-5.col-after::after {
    transform: scale(0.5) translateX(-60%);
  }

  .section-two .col-5.col-after::after {
    transform: scale(0.5) translateX(-10%);
  }

  h2.section__title,
  h3.section__title-sub {
    margin-bottom: 15px;
  }

  h3.section__title-sub { 
    font-size: 24px;
    line-height: 32px;
  }

  h2.section__title::before {
    left: 20px;
    width: 50px;
  }

  p.footer__descr {
    width: 80%;
  }

  .col-5.footer-section-col-5 {
    margin-right: 30px;
  }

  div.footer__lists {
    margin-left: 0;
  }

  nav.nav {
    right: 20px;
  }

  div.enter-aside {
    left: 10px;
  }
}

@media (max-width: 600px) {
  body.body,
  main.main,
  footer.footer {
    max-width: 600px;
  }

  div.linear-1,
  div.linear-2 {
    width: 600px;
  }

  div.enter-aside {
    left: 2rem;
  }

  nav.nav {
    right: 2rem;
  }

  section {
    margin-bottom: 10rem !important;
  }

  section.section-one,
  section.section-two {
    max-width: 100%;
  }

  header.header {
    margin-bottom: 5rem;
  }

  div.header__menu {
    left: 100px;
  }

  div.enter-content {
    max-width: 320px;
  }

  div.row {
    flex-direction: column;
  }

  .section-two div.row {
    flex-direction: column-reverse;
  }

  .section-one div.col-5.col-after,
  .section-three div.col-5.col-after,
  div.col-img {
    max-width: 90%;
    width: 90%;
  }

  .section__source {
    margin-bottom: 20px;
  }

  h2.section__title, h3.section__title-sub {
    max-width: inherit;
  }

  .section-two .col-5.col-img {
    justify-content: flex-end !important;
  }

  .section-two div.col-5.col-after {
    padding-left: 2rem;
    max-width: 100%;
    width: 100%;
  }

  .section-two div.col-after::after {
    left: -4rem;
  }

  .footer .col-5 {
    width: 100%;
  }

  div.footer__lists {
    margin-bottom: 15px;
  }

  footer.footer {
    margin-bottom: 50px;
  }
}

@media (max-width: 576px) {
  body.body,
  main.main,
  footer.footer {
    max-width: 576px;
  }

  div.linear-1,
  div.linear-2 {
    width: 576px;
  }

  p.enter-aside__title {
    font-size: 15px;
    line-height: 100%;
  }

  ul.enter-aside__list {
    padding-top: 13px;
  }

  nav.nav {
    width: 77px;
  }

  a.nav__link {
    font-weight: 400;
    font-size: 15px;
    line-height: 100%;
  }
}

@media (max-width: 480px) {
  body.body,
  main.main,
  footer.footer {
    max-width: 480px;
  }

  div.linear-1,
  div.linear-2 {
    width: 480px;
  }

  li.header__item:not(:last-child) {
    margin-right: 20px;
  }

  a.header__link {
    font-weight: 400;
    font-size: 15px;
    line-height: 100%;
  }

  h1.section__title::before {
    left: 20px;
    width: 50px;
  }

  p.start-sub {
    font-weight: 500;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 2px;
    text-align: center;
  }

  a.enter__link {
    font-weight: 400;
    font-size: 15px;
  }

  div.enter__scroll {
    justify-content: center;
  }

  h2.section__title, h3.section__title-sub {    
    font-weight: 400;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 2px;
  }
}

@media (max-width: 400px) {
  body.body {
    max-width: 400px;
    background-image: url('assets/images/media/400-HG.png'), url('assets/images/media/400-MG.png'), url('assets/images/media/400-VG.png') !important;
    background-position: top 0 center, top 175px center, top 20rem center !important;
  }

  main.main,
  footer.footer {
    max-width: 400px;
  }

  div.linear-1,
  div.linear-2 {
    width: 400px;
  }

  div.linear-1 {
    height: 35rem;
  }
  
  div.linear-2 {
    top: 15rem;
    height: 22rem;
  }

  .enter div.container {
    min-height: 10rem;
  }

  div.enter-aside {
    left: 10px;
  }

  nav.nav {
    right: 10px;
  }

  div.header__menu {
    left: 50px;
  }

  .section-one div.col-after, .section-two div.col-5.col-after , .section-three div.col-after {
    padding-left: 0;
  }

  .col-list.col-3:first-of-type {
    margin-right: 2rem;
  }
}

@media (min-width: 321px) and (max-width: 399px) {
  body.body,
  main.main,
  footer.footer {
    max-width: 399px;
    min-width: 321px;
  }

  div.linear-1,
  div.linear-2 {
    width: 370px;
  }
}

@media (max-width: 320px) {
  body.body,
  main.main,
  footer.footer {
    max-width: 320px;
  }

  div.linear-1,
  div.linear-2 {
    width: 320px;
  }

  picture.header__picture {
    margin-right: 10px;
  }

  button.header__btn {
    padding-left: 25px;
  }

  p.section__sub,
  .section-two .section__sub,
  p.footer__descr {
    width: 225px;
    max-width: 225px;
  }

  div.footer__lists {
    flex-direction: column;
  }

  h3.footer__title,
  li.footer__contacts:not(:last-of-type) {
    margin-bottom: 10px;
  }

  div.header__menu {
    left: 10px;
  }
}