@media (max-width: 1720px) {
  body,
  .linear-1,
  .linear-2 {
    max-width: 1720px;
  }

  a.nav__link {
    padding: 20px;
  }

  .nav__item:first-child .nav__link {
    padding-top: 15px;
  }

  .nav__item:last-child .nav__link {
    padding-bottom: 15px;
  }

  .enter .container {
    z-index: 5;
  }

  .section-one div.col-after,
  .section-three div.col-after {
    padding-left: 2rem;
    max-width: 40%;
  }

  .section-two .section__sub {
    max-width: 80%;
  }
}

@media (max-width: 1520px) {
  body,
  .linear-1,
  .linear-2 {
    max-width: 1520px;
  }
}

@media (min-width: 1290px) and (max-width: 1440px) {
  body,
  .linear-1,
  .linear-2 {
    max-width: 1440px;
  }
}

@media (max-width: 1280px) {
  body,
  .linear-1,
  .linear-2,
  main,
  footer {
    max-width: 1280px;
  }
}

@media (max-width: 1200px) {
  body,
    .linear-1,
    .linear-2,
    main,
    footer {
      max-width: 1200px;
    }

    div.enter__aside {
      top: 175px;
    }

    nav.nav {
      top: 650px;
    }
}

@media (max-width: 1024px) {
  body,
  .linear-1,
  .linear-2,
  main,
  footer {
    max-width: 1024px;
  }

  header.header .container {
    padding: 0;
  }

  div.enter__aside {
    left: 0;
  }

  nav.nav {
    top: 175px;
    right: 15px;
  }

  p.start__sub,
  h3.section__title-sub {
    font-size: 38px;
    line-height: 100%;
  }
}

@media (max-width: 992px) {
  body,
  .linear-1,
  .linear-2,
  main,
  footer {
    max-width: 992px;
  }

  .col-list.col-3:first-of-type {
    margin-right: 10rem;
  }
}

@media (max-width: 768px) {
  body,
  .linear-1,
  .linear-2, 
  .footer {
    max-width: 768px;
  }

  h3.footer__title,
  a.footer__link {
    font-size: 15px;
    line-height: 100%;
  }

  .col-list.col-3:first-of-type {
    margin-right: 4rem;
  }
}

@media (max-width: 712px) {
  body,
  .linear-1,
  .linear-2 {
    max-width: 712px;
  }
}

@media (max-width: 600px) {
  body,
  .linear-1,
  .linear-2 {
    max-width: 600px;
  }
}

@media (max-width: 575px) {
  body,
  .linear-1,
  .linear-2 {
    max-width: 575px;
  }
}

@media (max-width: 480px) {
  body,
  .linear-1,
  .linear-2 {
    max-width: 480px;
  }
}

@media (max-width: 400px) {
  body,
  .linear-1,
  .linear-2 {
    max-width: 400px;
  }
}

@media (max-width: 320px) {
  body,
  .linear-1,
  .linear-2 {
    max-width: 320px;
  }
}